/* TUTOR DASHBOARD VIEW CONTAINER */
.div-tutor-dashboard-view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80rem;
    box-shadow: 0 0.4rem 1.6rem var(--opaque-shadow-sm);
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* TUTOR DASHBOARD VIEW OVERVIEW CONTAINER */
.div-tutor-dashboard-view-overview-container {
    display: grid;
}

/* TUTOR DASHBOARD VIEW OVERVIEW BRAND */
.div-tutor-dashboard-view-overview-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.div-tutor-dashboard-view-overview-brand img {
    width: 32rem;
}
