/* TUTOR SESSIONS VIEW CONTAINER */
.div-tutor-sessions-view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0 0.4rem 1.6rem var(--opaque-shadow-sm);
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* TUTOR SESSIONS VIEW OVERVIEW CONTAINER */
.div-tutor-sessions-view-overview-container {
    position: relative;
    display: grid;
    grid-template-columns: 60fr 40fr;
    column-gap: 2.4rem;
    padding: 2.4rem;
}

.div-tutor-sessions-view-overview-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--primary);
}

/* TUTOR SESSIONS VIEW CALENDAR CONTAINER */
.div-tutor-sessions-view-calendar-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* HEADER TUTOR SESSIONS VIEW CALENDAR CONTAINER */
.header-tutor-sessions-view-calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* TUTOR SESSIONS VIEW CALENDAR DAYS/DATES CONTAINER */
.div-tutor-sessions-view-calendar-days-container,
.div-tutor-sessions-view-calendar-dates-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
}

/* TUTOR SESSIONS VIEW CALENDAR DAYS CONTAINER */
.div-tutor-sessions-view-calendar-days-container p {
    font-size: 1.2rem;
}

/* TUTOR SESSIONS VIEW CALENDAR DATES CONTAINER */
.div-tutor-sessions-view-calendar-dates-container {
    gap: 0.4rem;
}

.div-tutor-sessions-view-calendar-dates-container div {
    position: relative;
    padding: 2.4rem;
    background-color: var(--primary);
    cursor: pointer;
}

.div-tutor-sessions-view-calendar-dates-container div:hover,
.div-tutor-sessions-view-calendar-dates-container div.active {
    background-color: var(--primary-shade);
}

.div-tutor-sessions-view-calendar-dates-container .div-inactive-date-container {
    background-color: var(--primary-tint);
    cursor: not-allowed;
}

.div-tutor-sessions-view-calendar-dates-container .div-inactive-date-container:hover {
    background-color: var(--primary-tint);
}

.div-tutor-sessions-view-calendar-dates-container .div-todays-date-container::before {
    content: "";
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: 50%;
}

.div-tutor-sessions-view-calendar-dates-container div span {
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    font-size: 1.2rem;
    color: var(--white);
}

/* TUTOR SESSIONS VIEW PARTICIPANTS CONTAINER */
.div-tutor-sessions-view-participants-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* HEADER TUTOR SESSIONS VIEW PARTICIPANTS CONTAINER */
.header-tutor-sessions-view-participants-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-tutor-sessions-view-participants-container p {
    font-size: 1.2rem;
}

.header-tutor-sessions-view-participants-container button {
    width: 2.4rem;
}

/* TUTOR SESSIONS VIEW PARTICIPANTS OVERVIEW CONTAINER */
.div-tutor-sessions-view-participants-overview-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: auto;
}

.div-tutor-sessions-view-participants-overview-container > p {
    font-size: 1.6rem;
}

/* TUTOR SESSIONS VIEW PARTICIPANTS OVERVIEW LIST */
.tutor-sessions-view-participants-overview-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* TUTOR SESSIONS VIEW PARTICIPANTS OVERVIEW LIST ITEM */
.tutor-sessions-view-participants-overview-list-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0.8rem;
    box-shadow: 0 0.2rem 0.4rem var(--opaque-shadow-sm);
}

.tutor-sessions-view-participants-overview-list-item .link {
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    width: 2.4rem;
}

/* TUTOR SESSIONS VIEW PARTICIPANTS OVERVIEW IMAGE CONTAINER */
.div-tutor-sessions-view-participants-overview-image-container {
    display: flex;
    width: 4.8rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.div-tutor-sessions-view-participants-overview-image-container img {
    width: inherit;
    border-radius: inherit;
}

/* TUTOR SESSIONS VIEW PARTICIPANTS OVERVIEW CONTENT CONTAINER */
.div-tutor-sessions-view-participants-overview-content-container p {
    font-size: 1.4rem;
}

.div-tutor-sessions-view-participants-overview-content-container span {
    font-size: 1.2rem;
    font-style: italic;
}

/* FOOTER TUTOR SESSIONS VIEW PARTICIPANTS CONTAINER */
.footer-tutor-sessions-view-participants-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.2rem;
}

/* TUTOR SESSIONS VIEW CONTAINER FOOTER */
.footer-tutor-sessions-view-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2.4rem;
}

.footer-tutor-sessions-view-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--primary);
}

.footer-tutor-sessions-view-container p {
    font-size: 1.2rem;
}

.footer-tutor-sessions-view-container p span {
    text-decoration: underline;
    color: var(--primary);
}
