/* LOGOUT MODAL CONTAINER */
.div-logout-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--opaque-shadow-md);
    transition: all 0.5s ease-in-out;
    z-index: 9999;
}

.hide-logout-modal {
    opacity: 0;
    z-index: -1;
}

/* LOGOUT MODAL */
.div-logout-modal {
    position: relative;
    width: 80%;
    max-width: 56rem;
    height: 24rem;
    padding: 2.4rem 4.8rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.2rem var(--opaque-shadow-sm);
}

/* BUTTON MODAL CLOSE */
.div-logout-modal > button {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.4rem;
}

.div-logout-modal > button:hover {
    transform: scale(1.1);
}

/* BUTTON MODAL DATA CONTAINER */
.div-logout-modal-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100%;
}

/* LOGOUT MODAL HEADER */
.header-logout-modal {
    position: relative;
    width: 100%;
    text-align: center;
}

.header-logout-modal::after {
    content: "";
    position: absolute;
    bottom: -1.6rem;
    left: 50%;
    width: 100%;
    height: 0.2rem;
    transform: translate(-50%, 50%);
}

.logout-modal-success header::after {
    background-color: var(--success);
}

.logout-modal-failure header::after {
    background-color: var(--failure);
}

.header-logout-modal h2 {
    font-size: 2rem;
}
