/* PASSWORD MODAL CONTAINER */
.div-password-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--opaque-shadow-md);
    transition: all 0.5s ease-in-out;
    z-index: 9998;
}

.hide-password-modal {
    opacity: 0;
    z-index: -1;
}

/* PASSWORD MODAL */
.div-password-modal {
    position: relative;
    width: 80%;
    max-width: 56rem;
    height: 24rem;
    padding: 2.4rem 4.8rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.2rem var(--opaque-shadow-sm);
}

/* BUTTON MODAL CLOSE */
.div-password-modal > button {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 2.4rem;
}

.div-password-modal > button:hover {
    transform: scale(1.1);
}

/* BUTTON MODAL DATA CONTAINER */
.div-password-modal-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100%;
}

/* PASSWORD MODAL HEADER */
.header-password-modal {
    width: 100%;
    text-align: center;
}

.header-password-modal h2 {
    font-size: 2rem;
}

.header-password-modal p {
    font-size: 1.4rem;
}

.header-password-modal p span {
    color: var(--primary);
}

/* IMAGE MODAL FORM */
.form-password-modal {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}
