/* TUTOR REPORTS VIEW CONTAINER */
.div-tutor-reports-view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80rem;
    box-shadow: 0 0.4rem 1.6rem var(--opaque-shadow-sm);
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* TUTOR REPORTS VIEW CONTAINER */
.header-tutor-reports-view-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2.4rem;
}

.header-tutor-reports-view-container p {
    font-size: 1.6rem;
}

.header-tutor-reports-view-container span {
    color: var(--primary);
}

/* TUTOR REPORTS VIEW CONTAINER NAV LIST */
.nav-tutor-reports-view-container-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* TUTOR REPORTS VIEW CONTAINER NAV LIST ITEM */
.nav-tutor-reports-view-container-list-item a:link,
.nav-tutor-reports-view-container-list-item button {
    font-size: 1.8rem;
    color: var(--primary);
}

.nav-tutor-reports-view-container-list-item a:hover,
.active.nav-tutor-reports-view-container-list-item a:link,
.nav-tutor-reports-view-container-list-item button:hover,
.active.nav-tutor-reports-view-container-list-item {
    color: var(--primary-shade);
    transform: scale(1.1);
}

/* TUTOR REPORTS VIEW OVERVIEW CONTAINER */
.div-tutor-reports-view-overview-container {
    display: grid;
}

/* TUTOR REPORTS VIEW OVERVIEW BRAND */
.div-tutor-reports-view-overview-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.div-tutor-reports-view-overview-brand img {
    width: 32rem;
}

/* TUTOR REPORTS VIEW OVERVIEW CONTROLS */
.div-tutor-reports-view-overview-controls {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding: 2.4rem;
}

.div-tutor-reports-view-overview-controls::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: var(--primary);
}

.div-tutor-reports-view-overview-controls > p {
    font-size: 1.4rem;
    text-align: center;
}

.div-tutor-reports-view-overview-controls > p span {
    color: var(--primary);
}

/* TUTOR REPORTS VIEW OVERVIEW NAV CONTROLS LIST */
.nav-tutor-reports-view-overview-controls-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 100%;
}

/* TUTOR REPORTS VIEW OVERVIEW NAV CONTROLS LIST ITEM */
.nav-tutor-reports-view-overview-controls-list-item a:link {
    justify-content: space-between;
    width: 100%;
}

.nav-tutor-reports-view-overview-controls-list-item a:hover ion-icon {
    transform: translateX(0.2rem);
}
