/* PAGE LOADER CONTAINER */
.div-page-loader-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-tint);
    z-index: 9999;
}

.hide-page-loader {
    opacity: 0;
    z-index: -1;
}

/* PAGE LOADER CONTAINER LOGO */
.div-page-loader-container img {
    width: 12rem;
    animation-name: blinking;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
}

@keyframes blinking {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
