* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--black);
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-size: 10px;
    print-color-adjust: exact;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: var(--primary);
}

body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
}

label {
    cursor: pointer;
}

input,
textarea {
    caret-color: var(--primary);
}

select {
    appearance: none;
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    position: absolute;
    top: 50%;
    font-size: 1.4rem;
    color: var(--white);
    transform: translateY(-50%);
}

a:link {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}
