/* DISPLAY GENERAL */
.display-none {
    display: none !important;
}

/* DISPLAY GRID */
.grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-columns {
    grid-template-columns: repeat(4, 1fr);
}

/* MULTI INPUT CONTAINERS */
.div-multi-input-containers {
    display: grid;
    column-gap: 1.2rem;
    width: 100%;
}

/* INPUT CONTAINER */
.div-input-container {
    display: flex;
    align-items: center;
    height: 3.6rem;
}

/* INPUT CONTAINER LABEL */
.div-input-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: 1.6rem;
    border-top: 0.2rem solid var(--primary-tint);
    border-right: 0.2rem solid var(--primary-tint);
    border-bottom: 0.2rem solid var(--primary-tint);
}

.div-invalid-input-container label {
    border-top-color: var(--failure);
    border-right-color: var(--failure);
    border-bottom-color: var(--failure);
}

.div-input-container label ion-icon {
    color: var(--primary-tint);
}

.div-invalid-input-container label ion-icon {
    color: var(--failure);
}

/* INPUT CONTAINER INPUT/SELECT */
.div-input-container input,
.div-input-container select {
    width: 100%;
    height: 100%;
    padding: 0 1.2rem;
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--primary-tint);
    border: none;
}

.div-invalid-input-container input,
.div-invalid-input-container select {
    box-shadow: inset 0 0 0 0.2rem var(--failure);
}

.div-input-container select option {
    color: inherit;
}

/* FORM CONTROL BUTTONS CONTAINER */
.div-form-control-btns-container {
    display: grid;
    column-gap: 1.2rem;
    width: 100%;
}

/* BUTTON/LINK */
.btn,
.link:link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn span,
.btn ion-icon,
.link:link span,
.link:visited span,
.link:link ion-icon,
.link:visited ion-icon {
    color: inherit;
}

/* BUTTON/LINK ICON */
.btn-icon,
.link-icon:link {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    padding: 0;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}

.btn-icon ion-icon,
.link-icon:link ion-icon {
    color: inherit;
}

/* BUTTON STYLES */
.btn-primary,
.link-primary:link,
.link-primary:visited {
    color: var(--white);
    background-color: var(--primary);
}

.btn-primary:hover,
.link-primary:hover {
    background-color: var(--primary-shade);
}

.btn-secondary,
.link-secondary:link,
.link-secondary:visited {
    color: var(--primary);
    box-shadow: inset 0 0 0 0.2rem var(--primary);
}

.btn-secondary:hover,
.link-secondary:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-success,
.link-success:link,
.link-success:visited {
    color: var(--white);
    background-color: var(--success);
}

.btn-success:hover,
.link-success:hover {
    background-color: var(--success-shade);
}

.btn-failure,
.link-failure:link,
.link-failure:visited {
    color: var(--white);
    background-color: var(--failure);
}

.btn-failure:hover,
.link-failure:hover {
    background-color: var(--failure-shade);
}
